body {
  background-color: #ddd;
  color: #222;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#header h1 a {
  background-color:#ccc;
  border-bottom: 1px solid #666;
  color: #222;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}

#menu ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

#menu ul li a{
  background-color:#FFF;
  border: 1px solid #999;
  color: #222;
  display: block;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 12px 10px;
  text-decoration: none;
}

/*Rounded corners on Firefox and Safari*/
.box {  
   -webkit-border-radius: 5px;  
   -moz-border-radius: 5px;  
   padding: 5px;
   text-align: center;
   background: #ddd;  
   border: 1px solid #aaa;  
}

body.portrait {  
}  
 
body.landscape {  
}

XXXbody.portait div.arcade-js {
/*    width: device-width;  /* 320px or 480px on an iPhone */
/*    max-width: 320px;*/
    width: 416px;  
    height: device-height;  
    max-height: 356px; /* Free viewport size, when URL bar is visible: 356px.*/
}
XXXbody.landscape div.arcade-js {
    width: device-width;  /* 320px or 480 on an iPhone */
    max-width: 480px;  
    height: device-height;  
    max-height: 208px;  /* Free viewport size, when URL bar is visible: 208px. */
}
XXXbody.landscape canvas.arcade-js {
    /*width: 480px;*/
    width: device-width;  /* 320px or 480 on an iPhone */
    height: 208px;  
}

div.arcade-js {
    border: 1px dotted red;
    padding: 0;
    width: device-width;  /* 320px or 480px on an iPhone */
    height: device-height;  
/*
    max-width: 320px;  
    width: 95%;
    position: absolute;
    top: 50px;
    left: 10px;
    bottom: 10px;
    right: 10px;
*/
    text-align: center;  
}

/* http://developer.apple.com/safari/library/documentation/internetweb/conceptual/iPhoneWebAppHIG/MetricsLayout/MetricsLayout.html */
canvas.arcade-js {
   -webkit-border-radius: 5px;  
   -moz-border-radius: 5px;  
    padding: 0;
    margin: 0;
/*    width: device-width;  /* 320px or 480 on an iPhone */
/*    width: 320px;*/
/*    height: 416px;*/  
    width: 100%;
    height: 100%;
}
